{{- $hdr := cond (or (in .Site.Params.classes "feature-nohdr") (in .Params.classes "feature-nohdr")) false true -}}
<div class="relative w-100">
	<article>
		<div class="db pv4 {{ cond $hdr "ph3" "" }} ph0-l no-underline dark-gray">
			<div class="flex flex-column flex-row-ns">
				{{ if $hdr }}
				<div class="mb4 mb0-ns w-100 h4 h4-m w4-m h5-ns w5-ns br3 cover {{ if lt .Date.Unix now.Unix }}hide-child{{ end }}" style="background-image: url('{{ absURL (default "img/default-header-img.tn-500x500.jpg" (default .Params.image .Params.thumbnail)) }}'); background-position: center;">
					<a href="{{ .Permalink }}" class="sans-serif db child w-100 h-100 f7 lh-copy white no-underline br3 ph3 pt4 pt5-l ttu tc bg-black-60">
					{{ if .Date}}
						<i class="mt3 mt5-l child far {{ cond (gt .Date.Unix now.Unix) "fa-hourglass" "fa-calendar-alt" }}"></i> {{ .Date.Format "Jan 2, 2006" }}
					{{ else }}
						<i class="mt3 mt5-l "></i> 
					{{ end }}
					</a>
				</div>
				{{ end }}
				<div class="w-100 w6-ns pl3-ns">
					<h1 class="f3 fw1 mt0 lh-title"><a href="{{ .Permalink }}" class="color-inherit dim link">
					{{- if eq .Section "talks" }}{{ .Params.event }}: {{ end -}}
					{{- cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) -}}
					</a></h1>
					<div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
						{{ if eq .Section "slides" }}
							{{ .Description | markdownify }}
							<p class="pa0 sans-serif f7"><a class="ba br3 pa2 link" href="{{ .Permalink }}">View Slideshow <i class="fas fa-chevron-circle-right"></i></a></p>
						{{ else if eq .Section "talks" }}
							{{ .Summary }}
							<p class="pa0 sans-serif f7"><a class="ba br3 pa2 link" href="{{ .Permalink }}">Talk Details <i class="fas fa-chevron-circle-right"></i></a></p>
						{{ else }}
							{{ .Summary }}
							<p class="pa0 sans-serif f7"><a class="ba br3 pa2 link" href="{{ .Permalink }}">Plus de Détails<i class="fas fa-chevron-circle-right"></i></a></p>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</article>
</div>
