h1,
h2,
h3,
h4,
.sans-serif {
  font-family: 'Quattrocento Sans', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}
body article {
  font-family: 'Spectral', Georgia, Times, serif;
}
@media only screen and (max-width: 30em) {
  body article p,
  body article li {
    font-family: 'Quattrocento Sans', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  }
}
@media only screen and (min-width: 50em) {
  body.is-page-true.feature-depth:not(.feature-nodepth):not(.feature-nohdr) article {
    margin-top: -2em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0.5em 0.125em;
  }
}
@media screen only {
  header h1,
  header h2 {
    text-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.3);
  }
}
blockquote {
  margin: 0;
  padding: 0 1rem;
  color: #6a737d;
  border-left: 0.25rem solid #dfe2e5;
}
pre {
  border: 1px solid #dfe2e5;
  border-radius: 3px;
  font-size: 75%;
  line-height: 1.4;
  padding: 1em;
  background: #f6f8fa;
  overflow: auto;
}
p > code,
li > code,
a > code,
td > code {
  font-size: 80%;
  background: #f6f8fa;
  margin: 0;
  border-radius: 3px;
  padding: 0.15em 0.25em;
}
article img {
  max-width: 100%;
}
hr {
  height: 0px;
  border-style: none none solid none;
  border-bottom-color: #dfe2e5;
}
table caption {
  text-align: left;
  font-family: 'Spectral', Georgia, Times, serif;
  font-style: italic;
  padding: 0px 0.5rem;
}
body.feature-hyphenate:not(.feature-nohyphenate) article p,
body.feature-hyphenate:not(.feature-nohyphenate) article li,
body.feature-hyphenate:not(.feature-nohyphenate) article td,
body.feature-hyphenate:not(.feature-nohyphenate) article caption,
body.feature-hyphenate:not(.feature-nohyphenate) article figcaption,
body.feature-hyphenate:not(.feature-nohyphenate) article th {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
body.feature-hyphenate:not(.feature-nohyphenate) article pre,
body.feature-hyphenate:not(.feature-nohyphenate) article code {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
body.feature-justify:not(.feature-nojustify) article p,
body.feature-justify:not(.feature-nojustify) article li {
  text-align: justify;
}
body.feature-hrfleuron:not(.feature-nohrfleuron) article > hr {
  border-style: none;
  width: 0px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 3rem;
}
body.feature-hrfleuron:not(.feature-nohrfleuron) article > hr:before {
  content: "\002766";
}
body.feature-hrdinkus:not(.feature-nohrdinkus) article > hr {
  border-style: none;
  width: 0px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 3rem;
}
body.feature-hrdinkus:not(.feature-nohrdinkus) article > hr:before {
  content: "*\000A0\000A0*\000A0\000A0*";
}
figure {
  margin: 0px;
  padding: 0px;
}
div {
  margin: 0px;
  padding: 0px;
  display:block;
}
.right {
  float:right;
  max-width: 40%;
  margin-left: 5px;
  clear: both;
}
.left {
  float:left;
  max-width: 40%;
  margin-right: 20px;
}
.center {
  display: block;
  margin: auto;
  margin-left: auto;
  margin-right: auto; 
}


.spotlightstyle1 {
  overflow-x: hidden;
  text-align: left;
  clear: both;
  position: relative;
  top: 0;
  left: 0;
  height: 100px;

  .content {
    max-width: 65%;
    text-align: left;
    top: 0;
    left: 0;
  }

  .image {
    height: 100px;
    border-radius: 0;

    display: block;
    float:right;
    position: absolute;
    top: 0;
    left: 85%;

  }
}

.spotlightstyle2 {
  overflow-x: hidden;
  text-align: left;
  clear: both;
  position: relative;
  top: 0;
  left: 0;
  height: 100px;
  overflow:auto;

  .content {
    max-width: 65%;
    text-align: left;
    position: absolute;
    top: 0;
    left: 35%;
  }

  .image {
    height: auto;
    border-radius: 0;

    display: block;
    float:left;
    position: absolute;
    top: 0;
    left: 0%;

  }
}

figure img {
  display: block;
}
@media screen {
  body.feature-figcaption-hidden:not(.feature-figcaption-visible) figure {
    position: relative;
  }
  body.feature-figcaption-hidden:not(.feature-figcaption-visible) figcaption {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    visibility: hidden;
  }
  body.feature-figcaption-hidden figure:hover figcaption {
    visibility: visible;
  }
}
body:not(.feature-tablefig) table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;
  font-size: 85%;
  font-family: 'Quattrocento Sans', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}
body:not(.feature-tablefig) table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
body:not(.feature-tablefig) table th,
body:not(.feature-tablefig) table td {
  display: table-cell;
  vertical-align: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid #dfe2e5;
}
body:not(.feature-tablefig) table th {
  font-weight: 600;
}
body.feature-tablefw:not(.feature-tablefig) td {
  font-family: arial;
}
body.feature-tablefig:not(.feature-notablefig) table {
  border-spacing: 0;
  border-collapse: collapse;
  overflow: auto;
  font-size: 85%;
  font-family: inherit;
  border-top: 2px solid black;
}
body.feature-tablefig:not(.feature-notablefig) table thead,
body.feature-tablefig:not(.feature-notablefig) table tbody {
  border-bottom: 1px solid black;
}
body.feature-tablefig:not(.feature-notablefig) table th,
body.feature-tablefig:not(.feature-notablefig) table td {
  display: table-cell;
  vertical-align: bottom;
  padding: 0 0.5rem;
}
body.feature-tablefig:not(.feature-notablefig) table th {
  font-weight: 600;
  padding-top: 0.5rem;
}
body {
  counter-reset: figure-counter table-counter;
}
body.feature-fignum figure figcaption::before {
  counter-increment: figure-counter;
  content: "Figure " counter(figure-counter) ". ";
}
body.feature-fignum table caption::before {
  counter-increment: table-counter;
  content: "Table " counter(table-counter) ". ";
}
.feature-h3-cl h3 {
  clear: left;
}
.feature-h3-cr h3 {
  clear: right;
}
.feature-h3-cb h3 {
  clear: both;
}
.feature-nosubtitle h2 {
  display: none;
}
.footnotes {
  font-size: 80%;
}
.math {
  font-size: 1rem;
}
.about-the-author img {
  float: left;
  max-width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  margin: 0 1rem 1rem 0;
}
blockquote.tweet {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  padding: 4px 20px;
  color: black;
}
.pagination li {
  display: inline-block;
}
.pagination li a {
  padding: 0.5rem 0.625rem;
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-decoration: none;
}
.pagination li.disabled {
  display: none;
}
.pagination li.active a:link,
.pagination li.active a:active,
.pagination li.active a:visited {
  background-color: #ddd;
}
img[src~="3dbook"] {
  max-width: 120px;
}
@media screen {
  .book {
    display: inline-block;
    box-shadow: 5px 5px 20px #333;
    margin: 1rem;
  }
  .book img {
    vertical-align: middle;
  }
  .books {
    -moz-perspective: 100px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    display: inline-block;
    float: right;
    margin: 0px 0px 1rem 1rem;
  }
  .book {
    position: relative;
    -moz-perspective: 100px;
    -moz-transform: rotateY(-3deg);
    -webkit-transform: perspective(100) rotateY(-3deg);
    outline: 1px solid transparent;
    box-shadow: none;
    margin: 0;
  }
  .book img {
    position: relative !important;
  }
  .book:before,
  .book:after {
    position: absolute;
    top: 2%;
    height: 96%;
    content: ' ';
    z-index: -1;
  }
  .book:before {
    width: 100%;
    left: 6.5%;
    background-color: #484848;
    box-shadow: 0px 3px 20px 2px #333;
  }
  .book:after {
    width: 5%;
    left: 100%;
    background-color: #EFEFEF;
    box-shadow: inset 0px 0px 5px #aaa;
    -moz-transform: rotateY(20deg);
    -webkit-transform: perspective(100) rotateY(20deg);
  }
}
.display-print {
  display: none;
}
@media print {
  * {
    color: black !important;
  }
  pre,
  code {
    font-size: 0.85rem;
    background: white !important;
    padding: 3px !important;
  }
  img[src~="3dbook"] {
    border: 1px solid black;
    float: right;
    margin: 0px 0px 1rem 1rem;
  }
  .footnote-return {
    display: none;
  }
  a,
  a:link,
  a:visited,
  a:hover {
    text-decoration: underline black;
  }
  .footnote-ref a,
  .category a {
    text-decoration: none !important;
  }
  #hdr {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  h2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-style: italic;
  }
  h3 a:link,
  h3 a:visited {
    text-decoration: none;
  }
  .hide-print {
    display: none !important;
  }
  .display-print {
    display: inline !important;
  }
  .f4 {
    font-size: 1rem !important;
  }
  .measure-wide {
    max-width: 45em !important;
  }
  main {
    padding-bottom: 0 !important;
  }
  .math {
    font-size: 0.85rem !important;
  }
  article {
    border-bottom-style: none !important;
  }
}
.hljs {
  display: block;
  color: #333333;
  overflow-x: auto;
}
.hljs-comment,
.hljs-meta {
  color: #969896;
}
.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}
.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}
.hljs-section,
.hljs-name {
  color: #63a35c;
}
.hljs-tag {
  color: #333333;
}
.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}
.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}
.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
.hljs-link {
  text-decoration: underline;
}

aside.tableOfContentContainer {
  position: webkit-sticky;
  position: sticky;
  top: 30px;
  align-self: start; }

  nav#TableOfContents a {
    transition: all 50ms ease-in-out;
    color: inherit;
  }

  nav#TableOfContents a:hover {
    transition: all 50ms ease-in-out;
    color: inherit;
    font-size: 110%;
  }

nav#TableOfContents li.active::before {
  content: "\279c";
  display: inline-block;
  width: 20px;
  margin-left: -20px; }

nav#TableOfContents ul {
  list-style: none; }
