{{ define "title" }}{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}{{ end }}

{{ define "main" }}
<div style="position:relative;">
{{ if .Params.toc }}
	<aside style="float:left; padding:10px;" class="hidden lg:block tableOfContentContainer" id="tableOfContentContainer">
	<h3>Table des matières</h3>
	{{ .TableOfContents }}
	</aside>
{{ else }}
  {{- if ( ne .Params.sidebar false ) }}
    {{- partial "sidebar" . }}
  {{ end }}
{{ end }}

<article style="display: block" class="center bg-white br-3 pv1 ph4 lh-copy f5 nested-links mw7">
	{{ .Content }}
</article>

</div>
	<script>
		window.addEventListener('DOMContentLoaded', () => {
		const observerForTableOfContentActiveState = new IntersectionObserver(entries => {
			entries.forEach(entry => {
			const id = entry.target.getAttribute('id');
	
			if (entry.intersectionRatio > 0) {
				clearActiveStatesInTableOfContents();
				document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.add('active');
			}
			});
		});
		document.querySelectorAll('h1[id],h2[id],h3[id],h4[id]').forEach((section) => {
			observerForTableOfContentActiveState.observe(section);
		});
	
		});
	
		function clearActiveStatesInTableOfContents() {
		document.querySelectorAll('nav li').forEach((section) => {
			section.classList.remove('active');
		});
		}
	</script>
{{ end }}

{{ define "social" }}
		<meta property="og:title" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="{{ default "img/default-header-img.jpg" .Params.image | absURL }}" />
		<meta property="og:description" content="{{ .Description | markdownify }}" />
		<meta property="og:url" content="{{ .Permalink }}" />
		<meta property="og:site_name" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />

{{ end }}

